{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} Login {% endblock title %}
{% block body %} class="sign-in-illustration" {% endblock body %}

{% block header %}

{% include 'includes/navigation.html' %}

{% endblock header %}

{% block content %}

<section>
  <div class="page-header min-vh-100">
    <div class="container">
      <div class="row">
        <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column mx-lg-0 mx-auto">
          <div class="card card-plain">
            <div class="card-header pb-0 text-left">
              <h4 class="font-weight-bolder">Sign In</h4>
              <p class="mb-0">Enter your username and password to sign in</p>
            </div>
            <div class="card-body">
              <form method="post" action="{% url 'login' %}" role="form" class="form-group">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="text-center">
                  <button type="submit" class="btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0">Sign in</button>
                </div>
              </form>
            </div>
            <div class="card-footer text-center pt-0 px-lg-2 px-1">
              <p class="mb-4 text-sm mx-auto">
                Don't have an account?
                <a href="#" class="text-primary text-gradient font-weight-bold">
                  Sign up
                </a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 end-0 text-center justify-content-center flex-column">
          <div class="position-relative h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center">
            <img src="{% static 'img/login_bg.jpg' %}"
                 alt="login-bg" class="position-absolute start-0">
            <h4 class="mt-5 text-white font-weight-bolder">
              Welcome to the Piter's restaurant
            </h4>
            <p class="text-white">
              Enter your credentials and unlock access to our exclusive culinary workspace.
              As a registered chef, you'll gain entry to a world of recipe management, collaboration, and inspiration.
              Step into the realm where culinary excellence meets innovation and elevate your cooking journey.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
