{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block title %}
  <title>
    Сooks | Piter's restaurant
  </title>
{% endblock title %}

{% block body %}
  class="index-page bg-gray-200"
{% endblock body %}

{% block content %}

<header class="header-2">
  <div class="page-header min-vh-75 relative py-xl-8"
       style="background-image: url('{% static 'img/back_main.jpg' %}')">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 text-center mx-auto">
          <h1 class="text-white pt-3 mt-n5">Cooks</h1>
          <p class="lead text-white mt-3">
            Here, you have the opportunity to explore and learn
            about the talented chefs who bring their culinary expertise
            to our establishment. From experienced master chefs to up-and-coming talents,
            we take pride in showcasing a diverse team with a passion
            for creating extraordinary dishes. Discover their unique backgrounds, specialties,
            and culinary philosophies as you delve into the world of our restaurant's culinary artisans.
          </p>
          <form action="" method="get" class="w-100">
            <div class="input-group">
              {{ search_form.search }}
              <button type="submit" class="btn btn-secondary">
                <i class="fas fa-search"></i> Search
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>


    <div class="position-absolute w-100 z-index-1 bottom-0">
      <svg class="waves"
           xmlns="http://www.w3.org/2000/svg"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           viewBox="0 24 150 40"
           preserveAspectRatio="none"
           shape-rendering="auto">
        <defs>
          <path id="gentle-wave"
                d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="moving-waves">
          <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(255,255,255,0.40" />
          <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.35)" />
          <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.25)" />
          <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(255,255,255,0.20)" />
          <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(255,255,255,0.15)" />
          <use xlink:href="#gentle-wave" x="48" y="16" fill="rgba(255,255,255,0.95" />
        </g>
      </svg>
    </div>
  </div>
</header>

<section class="pt-3 pb-4">
  <div class="container">

  {% if cook_list %}
    <table class="table table-sm table-success">
      <thead class="table-info">
        <tr>
          <th class="text-center">Years of experience</th>
          <th class="text-center">First name</th>
          <th class="text-center">Last name</th>
          <th class="text-center">Username</th>
          <th class="text-center">Detail</th>
        </tr>
      </thead>
      <tbody>
      {% for cook in cook_list %}
        <tr>
          <th class="text-center">
            {% if cook.years_of_experience %}
              {{ cook.years_of_experience }}
            {% endif %}
          </th>
          <th class="text-center">{{ cook.first_name }}  </th>
          <th class="text-center">{{ cook.last_name }}  </th>
          <th class="text-center">{{ cook.username }}  </th>
          <th class="text-center">
            <a href="{% url 'kitchen_service:cook-detail' pk=cook.id %}"
               class="btn btn-sm bg-gradient-info w-auto me-1 my-1">
              Detail
            </a>
          </th>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
    <div class="col-lg-7 text-center mx-auto">
      <p class="lead text-muted mt-3">
        No cooks have been added yet
      </p>
    </div>
  {% endif %}
</section>

{% endblock %}
