{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block title %}
  <title>Types of dish | Piter's restaurant</title>
{% endblock title %}

{% block body %} class="index-page bg-gray-200" {% endblock body %}

{% block content %}

<header class="header-2">
  <div class="page-header min-vh-75 relative py-xl-8"
       style="background-image: url('{% static 'img/back_main.jpg' %}')">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 text-center mx-auto">
          <h1 class="text-white pt-3 mt-n5">
            Types of dish
          </h1>
          <p class="lead text-white mt-3">
            Explore a variety of dish types available at our restaurant.
            From appetizers and main courses to desserts and beverages,
            our menu offers a wide selection of delicious options to satisfy your culinary cravings.
            Discover different cuisines, flavors, and styles,
            and embark on a gastronomic journey through our diverse collection of dish types.
            Whether you're a seafood lover, a vegetarian enthusiast,
            or a fan of international cuisine, our restaurant has something to delight every palate.
            Join us and experience the rich flavors and culinary delights of our restaurant's dish types.
          </p>
          <form action="" method="get" class="w-100">
            {{ search_form|crispy }}
            <button type="submit" class="btn btn-secondary">
              <i class="fas fa-search"></i>
              Search
            </button>
          </form>
        </div>
      </div>
    </div>


    <div class="position-absolute w-100 z-index-1 bottom-0">
      <svg class="waves"
           xmlns="http://www.w3.org/2000/svg"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           viewBox="0 24 150 40"
           preserveAspectRatio="none"
           shape-rendering="auto">
        <defs>
          <path id="gentle-wave"
                d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="moving-waves">
          <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(255,255,255,0.40" />
          <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.35)" />
          <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.25)" />
          <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(255,255,255,0.20)" />
          <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(255,255,255,0.15)" />
          <use xlink:href="#gentle-wave" x="48" y="16" fill="rgba(255,255,255,0.95" />
        </g>
      </svg>
    </div>
  </div>
</header>

<section class="pt-3 pb-4">
  <div class="container">
  <a href="{% url 'kitchen_service:types-of-dish-create' %}"
     class="btn btn-primary w-auto me-1 mb-3">
    + Add type
  </a>

  {% if dishtype_list %}
    <table class="table table-sm table-dark">
      <thead>
        <tr>
          <th class="text-center">ID</th>
          <th class="text-center">Name</th>
          <th class="text-center">Number of dishes</th>
          <th class="text-center">Detail</th>
        </tr>
      </thead>
      <tbody>
      {% for dishtype in dishtype_list %}
        <tr>
          <th class="text-center">{{ dishtype.id }}  </th>
          <th class="text-center">{{ dishtype.name }}  </th>
          <th class="text-center">{{ dishtype.num_dishes }}  </th>
          <th class="text-center">
            <a href="{% url 'kitchen_service:type-of-dish-detail' pk=dishtype.id %}"
               class="btn btn-sm bg-gradient-info w-auto me-1 mb-0">
              Detail
            </a>
          </th>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
    <div class="col-lg-7 text-center mx-auto">
      <p class="lead text-muted mt-3">
        No dish types have been added yet
      </p>
    </div>
  {% endif %}
</section>

{% endblock %}
