{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
  <title>{{ object|yesno:"Update,Create" }} Type of Dish</title>
{% endblock title %}
{% block body %} class="sign-in-illustration" {% endblock body %}

{% block header %}

{% with cook=request.user %}
  {% include 'includes/navigation.html' %}
{% endwith %}

{% endblock header %}

{% block content %}

<section>
  <div class="page-header min-vh-100 py-xl-7"
       style="background-image: url('{% static 'img/dish_type_form_bg.jpg' %}')">
    <div class="container">
      <div class="row">
        <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column mx-lg-0 mx-auto">
          <div class="card card-plain">
            <div class="card-header pb-0 text-left">
              <h4 class="font-weight-bolder text-light">
                {{ object|yesno:"Update,Create" }} Type of Dish
              </h4>
              <p class="mb-0 text-light">Enter data about type of dish</p>
            </div>
            <div class="card-body">
              <form action="" method="post" enctype="multipart/form-data" class="form-group">
                {% csrf_token %}
                <div class="form-group">
                  <div class="text-center">
                    {% if form.instance.image %}
                      <img src="{{ form.instance.image.url }}"
                           alt="Current Image"
                           class="img-fluid mb-2 max-height-300 img-thumbnail">
                    {% else %}
                      <img src="{% static 'img/default_photo.jpg' %}"
                           alt="No Image"
                           class="img-fluid mb-2 max-height-300 img-thumbnail" >
                    {% endif %}
                  </div>
                  <div class="custom-file mb-3">
                    {{ form.image}}
                  </div>
                </div>
                <div class="form-group">
                  {{ form.name|as_crispy_field }}
                </div>
                <div class="form-group">
                  {{ form.description|as_crispy_field }}
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-lg bg-gradient-success btn-lg w-100 mt-4 mb-0">
                    Save
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 end-0 text-center justify-content-center flex-column">
          <div class="position-relative h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center">
            <h4 class="mt-5 text-white font-weight-bolder">Conditions</h4>
            <p class="text-white">
              Fill form with optional dish image upload,
              supporting JPEG and PNG formats.
              Mandatory fields include dish type name,
              with an optional short description for the dish type.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
